{
  "root": true,
  "extends": [
    "react-app",
    "react-app/jest",
    "plugin:prettier/recommended",
    "prettier",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@eslint-plugin-cypress/recommended"
  ],
  "plugins": ["prettier", "@typescript-eslint", "eslint-plugin-cypress"],
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": true }]
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "@typescript-eslint/parser"
}
